.cart-bg-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 576px) {
  .cart-item-section {
    height: 100vh;
  }
}

.cart-item-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  min-height: 60vh;
  height: 100vh;
}

.cart-empty-image {
  width: 48px;
  height: 38px;
}

.cart-card-details {
  display: flex;
  align-items: center;
}

.cart-items-li-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: 200px;
  border-bottom: solid 1px #d8d8d8;
}

.cart-ul-container {
  border: solid 1px #d8d8d8;
  padding-left: 0px;
  border-radius: 15px;
}

.cart-item-bg-container {
  align-self: center;
  width: 80%;
  height: 100%;
}

.cart-main-heading {
  text-align: start;
  font-size: 25px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 0.1px;
}

.payment-image {
  width: 64px;
  height: 64px;
}

.paymentsuccess-heading {
  color: #191919;
  width: 235px;
  height: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
}

.paymentsuccess-text {
  width: 312px;
  height: 52px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #191919cc;
}

.paymentsuccess-button {
  background-color: #088c03;
  width: 180px;
  height: 43px;
  font-size: 14px;
  border-radius: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  border: 0px;
}

.cart-empty-text {
  width: 134px;
  height: 34px;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: #191919;
}

.cart-empty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1;
}